.w-right {
  position: relative;
}

.w-mainCircle {
  left: 4rem;
  position: relative;
  width: 13rem;
  height: 13rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
  /* darkMode */
  z-index: 2;
}
.w-mainCircle > * {
  position: absolute;
}
.w-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 3rem;
}
.w-mainCircle > :nth-child(2) {
  left: -3rem;
  top: 4rem;
}
.w-mainCircle > :nth-child(3) {
  left: 4rem;
  top: 3.4rem;
}
.w-mainCircle > :nth-child(4) {
  left: 10rem;
  top:3rem;
}
.w-mainCircle > :nth-child(5) {
  left: 3rem;
  top: 10rem;
}
.w-secCircle {
  width:5rem;
  height:5rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  box-shadow: var(--smboxShadow);
  background: white;
}

.w-secCircle > img {
  transform: scale(0.5);
}

.w-backCircle {
  position: absolute;
  height: 11rem;
  width: 11rem;
  border-radius: 100%;
  /* darkMode */
  z-index: 1;
}
.blueCircle {
    background: #23a7dfa5;
    left: 15rem;
    top: 0rem;
  }
  .yellowCircle {
    background: #000000;
    left: 10rem;
    top: 8rem;
  }

@media screen and (max-width: 480px) {
  .works {
    flex-direction: column;
    height: 55rem;
    padding: 0;
    gap: 5rem;
  }

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    transform: scale(0.7);
  }
  .w-mainCircle{
    position: static;
  }
  .w-backCircle{
    left: 8rem!important;
  }

}
